
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.productsOfi,
.productsCom,
.productsCop 
 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 6px;
    border: 2px solid #8d8d8d59;

}

.productsCom {
    margin-left: 3vh;
    margin-right: 3vh;
}

.productsOfi-actions,
.productsCom-actions,
.productsCop-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2vh;
    width: 20vh;
}

.productsOfi-actions h1,
.productsCom-actions h1,
.productsCop-actions h1 {
    font-size: 32px;
}

.productsOfi-actions p,
.productsCom-actions p,
.productsCop-actions p {
    margin-left: 10px;
}

#productsOfi-img,
#productsCom-img,
#productsCop-img {
    height: 35vh;
    margin: 2vh;
}

.ofertas {
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: #8d8d8d7d;
    font-family: sans-serif;
    width: 1200px;
}

.ofertas hr {
    height: 3px;
    color: #0000007d;
}

